/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.active {
  border-bottom: 5px solid black;
  padding-bottom: 0.85rem;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
}

.title {
  text-align: center;
  font-size: 5rem;
}

.text {
  margin-top: 2rem;
  font-size: 1.5rem;
}

/* NavBar */

.navbar {
  padding: 0.5rem;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-list {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: black;
}

/* Card */

.product-title {
  font-size: 4rem;
  text-align: center;
}

.card-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
}

.card {
  flex-basis: calc((100% - 3rem) / 2);
  padding: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  background-color: antiquewhite;
  display: flex;
}

.img-container {
  flex-basis: 40%;
  aspect-ratio: 1 / 1;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
}

.card-text-container {
  flex-basis: 60%;
  padding: 1rem;
}

.card-rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-name {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  color: black;
  text-decoration: underline;
}

.card-price {
  font-size: 2rem;
  margin-top: 0.4rem;
  font-weight: 900;
}

.card-category {
  margin-top: 1rem;
}